### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [105]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [35]:
players_count_df = pd.DataFrame(
    
    {"Number of Players": [purchase_data_df["SN"].nunique()]})

players_count_df

   Number of Players
0                576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [100]:
number_of_unique_items = purchase_data_df["Item Name"].nunique()

average_purchase_price = purchase_data_df["Price"].mean()

total_number_of_purchases = purchase_data_df["Purchase ID"].count()

total_revenue = purchase_data_df["Price"].sum()

In [101]:
purchasing_analysis_df = pd.DataFrame(
    
    {"Number of Unique Items": [purchase_data_df["Item Name"].nunique()],
    
     "Average Purchase Price": [purchase_data_df["Price"].mean()],
    
     "Total Number of Purchases": [purchase_data_df["Purchase ID"].count()],
    
     "Total Revenue": [purchase_data_df["Price"].sum()]})

purchasing_analysis_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,3.050987,780,2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [33]:
gender_demographics = purchase_data_df.groupby("Gender")

gender_count = gender_demographics.nunique()["SN"]

gender_count

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [32]:
gender_percentage = (gender_count/players_count)*100

gender_percentage

Gender
Female                   14.062500
Male                     84.027778
Other / Non-Disclosed     1.909722
Name: SN, dtype: float64

In [38]:
gender_demographics_df = pd.DataFrame(
    
    {"Gender":["Female", "Male", "Other/Non-Disclosed"],
     
     "Total Count": ["81", "484", "11"],
     
     "Percentage": [14.062500, 84.027778, 1.909722]})

gender_demographics_df

                Gender Total Count  Percentage
0               Female          81   14.062500
1                 Male         484   84.027778
2  Other/Non-Disclosed          11    1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [37]:
purchase_count_gender = gender_demographics["Price"].count()

purchase_count_gender

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Price, dtype: int64

In [38]:
average_purchase_price_gender = gender_demographics["Price"].mean()

average_purchase_price_gender

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [39]:
total_purchase_value_gender = gender_demographics["Price"].sum()

total_purchase_value_gender

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [85]:
average_purchase_total_per_person_gender = total_purchase_value_gender/gender_count

average_purchase_total_per_person_gender

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [39]:
purchasing_analysis_gender_df = pd.DataFrame(
    
    {"Gender":["Female", "Male", "Other/Non-Disclosed"],
     
     "Purchase Count": [113, 652, 15],
     
     "Average Purchase Price": [3.203009, 3.017853, 3.346000],
     
     "Total Purchase Value": [361.94, 1967.64, 50.19],
     
     "Average Purchase Total Per Person": [4.468395, 4.065372, 4.562727]})

purchasing_analysis_gender_df

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total Per Person
0,Female,113,3.203009,361.94,4.468395
1,Male,652,3.017853,1967.64,4.065372
2,Other/Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [17]:
bins = [0, 10, 14, 19, 24, 29, 34, 39, 44, 49]

group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40-44", "45+"]

age_series = pd.cut(purchase_data_df["Age"], bins, labels=group_labels)

In [116]:
purchase_data_df["Age Range"] = age_series

age_group = purchase_data_df.groupby("Age Range")

total_age_count = age_group["SN"].nunique()

age_percentage = (total_age_count/purchase_data_df["SN"].nunique()) * 100

In [119]:
age_demographics_df = pd.DataFrame(
    
    {"Players Count": total_age_count,
     
     "Percentage": age_percentage})

age_demographics_df

           Players Count  Percentage
Age Range
<10                   24    4.166667
10-14                 15    2.604167
15-19                107   18.576389
20-24                258   44.791667
25-29                 77   13.368056
30-34                 52    9.027778
35-39                 31    5.381944
40-44                 11    1.909722
45+                    1    0.173611

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [129]:
purchase_count_age = age_group["Purchase ID"].count()

average_purchase_price_age = age_group["Price"].mean()

total_purchase_value_age = age_group["Price"].sum()

average_total_purchase_per_person_age = (total_purchase_value_age/total_age_count)

In [130]:
purchasing_analysis_age = pd.DataFrame(
    
    {"Purchase Count": purchase_count_age,
    
     "Average Purchase Price": average_purchase_price_age,
    
     "Total Purchase Value": total_purchase_value_age,
     
     "Average Total Purchase Per Person": average_total_purchase_per_person_age})

purchasing_analysis_age

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase Per Person
Age Range,,,,
<10,32,3.405000,108.96,4.540000
10-14,19,2.681579,50.95,3.396667
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40-44,12,3.045000,36.54,3.321818
45+,1,1.700000,1.70,1.700000

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [90]:
top_spenders_purchases_count = purchase_data_df.groupby(["SN"]).count()["Price"]

top_spenders_average_purchase_price = purchase_data_df.groupby(["SN"]).mean()["Price"]

top_spenders_total_purchase_value = purchase_data_df.groupby(["SN"]).sum()["Price"]

In [91]:
top_spenders_analysis = pd.DataFrame(
    
    {"Purchase Count": top_spenders_purchases_count,
     
     "Average Purchase Price": top_spenders_average_purchase_price,
     
     "Total Purchase Value": top_spenders_total_purchase_value})

top_spenders_sorted = top_spenders_analysis.sort_values("Total Purchase Value", ascending = False)

top_spenders_sorted.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [177]:
popular_item_purchase_count = purchase_data_df.groupby(["Item Name"]).count()["Purchase ID"]

popular_item_id = purchase_data_df.groupby(["Item Name"]).max()["Item ID"]

popular_item_price = purchase_data_df.groupby(["Item Name"]).max()["Price"]

popular_total_purchase_value = purchase_data_df.groupby(["Item Name"]).sum()["Price"]

In [183]:
most_popular_item_analysis = pd.DataFrame({
    
    "Item ID": popular_item_id, 
    
    "Purchase Count": popular_item_purchase_count, 
    
    "Item Price": popular_item_price, 
    
    "Total Purchase Value": popular_total_purchase_value})

most_popular_item_analysis_sorted = most_popular_item_analysis.sort_values("Purchase Count", ascending = False)

most_popular_item_analysis_sorted.head()

,Item ID,Purchase Count,Item Price,Total Purchase Value
Item Name,,,,
Final Critic,92,13,4.88,59.99
"Oathbreaker, Last Hope of the Breaking Storm",178,12,4.23,50.76
Persuasion,132,9,3.33,28.99
Nirvana,82,9,4.90,44.10
"Extraction, Quickblade Of Trembling Hands",108,9,3.53,31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [184]:
most_popular_item_analysis_sorted = most_popular_item_analysis.sort_values("Total Purchase Value", ascending = False)

most_popular_item_analysis_sorted.head()

,Item ID,Purchase Count,Item Price,Total Purchase Value
Item Name,,,,
Final Critic,92,13,4.88,59.99
"Oathbreaker, Last Hope of the Breaking Storm",178,12,4.23,50.76
Nirvana,82,9,4.90,44.10
Fiery Glass Crusader,145,9,4.58,41.22
Singed Scalpel,103,8,4.35,34.80